*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 4fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-gap: 12px;
    grid-template-areas: 
                        "header header header header"
                        "aside main main main"
                        "aside main main main"
                        "footer footer footer footer";
    height: 100vh;
}

header{
    border: 1px solid red;
    grid-area: header/header;
}

aside{
    border: 1px solid red;
    grid-area: aside/aside;
}

main{
    border: 1px solid red;
    grid-area: main/main;
}

footer{
    border: 1px solid red;
    grid-area: footer/footer;
}

